.task {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
}

.task-info {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.task-category {
  border: 1px solid;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}

.task-status {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  font-size: medium;
  color: white;
}

.task-completed {
  background-color: var(--primary-color);
}

.not-completed {
  background-color: var(--third-color);
}

.not-completed:hover {
  border: 1.2px solid var(--primary-color);
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2px 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: auto;
  float: right;
  border: 1px solid;
  border-radius: 100%;
  background-color: var(--secondary-color);
  color: white;
}

.delete-button:hover {
  background-color: var(--primary-color);
}
