<div class="task">
  <h2 class="task-header">
    {{ task.title }}
  </h2>
  <button (click)="deleteTask()" class="delete-button">X</button>
  <div class="task-info">
    <div class="task-category">{{ task.category }}</div>

    <button
      (click)="handleTaskStatusChange()"
      class="task-status"
      [ngClass]="{
        'task-completed': task.completed === true,
        'not-completed': task.completed !== true
      }"
    >
      {{ task.completed ? "Completed" : "Complete" }}
    </button>
  </div>
</div>
